@charset "utf-8";

body {
    /*box*/
    height: 100vh;
    margin: 0;
    background-color: #d6d6d6;
    /*text*/
    font-family: 'Roboto', sans-serif;
}

p {
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    margin-bottom: 20px;
}

/*Start: Header*/
header {
    /*box*/
    position: sticky;
    top: 0;
    /*    height: 60px;*/
    height: 10vh;
    width: 100%;
    background-color: #009621;

    /*Flex*/
    display: flex;
    flex-direction: row;
    align-items: center;
}

header h1 {
    /*box*/
    height: 100%;
    min-width: 54%;
    width: 100%;
    margin-bottom: 0;
    /*text*/
    /*    line-height: 60px;*/
    line-height: 10vh;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    color: aliceblue;
}

.backDiv {
    /*box*/
    min-width: 18%;
    margin-left: 4%;
    padding: 8px;
    border: solid 2px black;
    border-radius: 15px;
    /*text*/
    text-decoration: none;
    font-weight: bold;
    color: black;

    /*Flex*/
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.logoutButton {
    /*box*/
    min-width: 18%;
    margin-right: 4%;
    padding: 8px;
    border: solid 2px black;
    border-radius: 15px;
    /*text*/
    text-decoration: none;
    font-weight: bold;
    color: black;

    /*Flex*/
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.logoutButton:active,
.backDiv:active {
    /*box*/
    background-color: #00430f;
    /*text*/
    text-decoration: none;
    color: black;
}

.logoutButton:hover,
.backDiv:hover {
    text-decoration: none;
    color: black;
}

/*End: Header*/

/*Start: Navbar*/
footer {
    /*box*/
    position: fixed;
    width: 100%;
    bottom: 0;
}

.navFooter {
    /*box*/
    /*    min-height: 50px;*/
    min-height: 8vh;
    width: 100%;
    background-color: #009621;

    /*Flex*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
}

.navFooter a {
    /*box*/
    min-width: 22%;
    height: 100%;
    border: solid 1px black;
    /*text*/
    font-size: 13px;
    /*    line-height: 50px;*/
    line-height: 8vh;
    text-align: center;
    color: white;

    /*Flex*/
    flex-grow: 1;
    display: flex;
    align-items: center;
}

.navFooter a:link {
    /*text*/
    text-decoration: none;
}

.navFooter a:active,
.navFooter .aActive {
    /*box*/
    min-width: 24%;
    background-color: #006a17;
    /*text*/
    font-size: 18px;
    font-weight: 500;
    color: white;
}

.navFooter a span:first-child {
    width: 100%;
    height: 100%;
}

.navFooter i {
    display: none;
}

/*End: Navbar*/

/*Start: INDEX*/
select {
    /*box*/
    position: sticky;
    /*    top: 60px;*/
    top: 10vh;
    width: 100%;
    /*    height: 40px;*/
    height: 6vh;
    background-color: #d6d6d6;
    /*text*/
    font-size: 15px;
}

select option {
    /*box*/
    width: 100%;
    background-color: white;
    /*text*/
    font-size: 15px;
}

.mainContent {
    /*box*/
    /*    min-height: 90vh;*/
    /*    padding-top: 15px;*/
    padding-top: 2vh;
    /*    margin-bottom: 70px;*/
    margin-bottom: 10vh;

    /*Flex*/
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.boxMatchBoxes {
    /*box*/
    width: 90%;
    margin: auto;
    margin-top: 0;
    margin-bottom: 19px;
    padding-bottom: 13px;
    border-bottom: solid 1px grey;
}

.boxMatchBoxes > h2 {
    /*box*/
    margin-bottom: 8px;
    margin-left: 30px;
    /*text*/
    font-size: 13px;
    font-style: italic;
}

.boxMatch-small {
    /*box*/
    width: 100%;
    height: 60px;
    padding: 4px;
    margin: auto;
    margin-bottom: 5px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 2px 2px 2px grey;
    /*text*/
    font-size: 12px;
    text-decoration: none;
    color: black;

    /*Flex*/
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.boxMatch-small:active {
    /*box*/
    width: 100%;
    min-height: 60px;
    padding: 4px;
    margin: auto;
    margin-bottom: 5px;
    background-color: rgb(0, 49, 255);
    border-radius: 10px;
    box-shadow: 2px 2px 2px grey;
    /*text*/
    text-decoration: none;
    color: white;
}

.boxMatch-small:last-child {
    /*box*/
    border-bottom: 0;
}

.boxMatch-small p {
    /*box*/
    margin-bottom: 0;
}

.boxMatch-small > p {
    /*box*/
    width: 10%;
    margin-left: 2px;
    margin-right: 2px;
    /*text*/
    text-align: center;
}

.boxTeam-small {
    /*box*/
    width: 45%;
    /*text*/
    text-align: center;

    /*Flex*/
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.boxTeam-small p {
    /*box*/
    width: 75%;
}

.teamLogo-small {
    /*box*/
    width: 25%;
}

/*End: INDEX*/

/*Start: TEAMS*/
.boxTeam-list {
    /*box*/
    width: 90%;
    height: 85px;
    /*    height: 70px;*/
    margin: 3px auto 3px auto;
    background-color: white;
    border-radius: 15px;
    border-bottom: solid 1px grey;
    box-shadow: 2px 2px 2px grey;
    /*text*/
    text-decoration: none;
    color: black;

    /*Flex*/
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

.boxTeam-list:active {
    /*box*/
    background-color: rgb(0, 49, 255);
    /*text*/
    text-decoration: none;
    color: white;
}

.boxTeam-list p {
    /*box*/
    margin-bottom: 0;
    /*text*/
    font-size: 18px;
}

.teamLogo-list {
    /*box*/
    width: 50px;
    margin: 8px;
}

/*End: TEAMS*/

/*Start: Rankings*/
.nav-link {
    display: block;
    padding: 0;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    /*box*/
    /*    height: 50px;*/
    height: 8vh;
    background-color: #006a17;
    border: solid 1px black;
    /*text*/
    /*    line-height: 50px;*/
    line-height: 8vh;
    font-size: 17px;
    font-weight: 500;
    color: white;
}

.nav-tabs .nav-link {
    /*box*/
    /*    height: 50px;*/
    height: 8vh;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    border: solid 1px black;
    /*text*/
/*    line-height: 50px;*/
    line-height: 8vh;
    font-size: 14px;
    text-align: center;
    color: white;
}

.nav-tabs .nav-item {
    margin-bottom: 0;
}

.rankingsTabs {
    /*box*/
    position: sticky;
    /*    top: 60px;*/
    top: 10vh;
    /*    min-height: 50px;*/
    min-height: 8vh;
    background-color: #009621;

    /*Flex*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
}

.rankingsTabs li {
    /*Flex*/
    flex-grow: 1;
}

.rankingTops,
.rankingTable {
    /*box*/
    width: 90%;
    margin: auto;
    /*text*/
    font-size: 12px;
    text-align: center;
}

.rankingTops thead tr,
.rankingTable thead tr {
    /*box*/
    height: 30px;
    border-bottom: solid 1px grey;
    border-top: solid thin grey;
}

.rankingTops tbody tr,
.rankingTable tbody tr {
    /*box*/
    height: 30px;
    border-bottom: solid thin grey;
}

.rankingTable td {
    /*box*/
    width: 9%;
}

.rankingTable .tdPosition {
    /*box*/
    width: 6%;
    /*text*/
    font-weight: bold;
}

.rankingTable .tdTeamName {
    /*box*/
    width: 30%;
    /*text*/
    text-align: left;
}

.rankingTable .tdPoints {
    /*box*/
    width: 10%;
}

.rankingTops .tdGoals p,
.rankingTable .tdPoints p {
    /*box*/
    width: 85%;
    border-radius: 6px;
    background-color: grey;
    margin: auto;
    /*text*/
    color: white;
}

/*End: Rankings*/

/*Start: MatchInfo*/
.boxMatch-medium {
    /*box*/
    width: 90%;
    min-height: 180px;
    padding: 4px;
    margin: auto;
    margin-top: 0;
    margin-bottom: 10px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 2px 2px 2px grey;
}

.boxMatch-medium h2 {
    /*text*/
    font-size: 15px;
    text-align: center;
}

.boxMatch-medium > div {
    /*Flex*/
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.boxMatch-medium p {
    /*box*/
    margin-bottom: 0;
}

.boxMatch-medium > div > p {
    /*box*/
    width: 26%;
    margin-left: 2px;
    margin-right: 2px;
    /*text*/
    font-size: 50px;
    text-align: center;
}

.boxTeam-medium {
    /*box*/
    width: 36%;
    /*text*/
    text-align: center;

    /*Flex*/
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
}

.teamLogo-medium {
    /*box*/
    width: 100px;
}

.secondContent {
    /*box*/
    width: 90%;
    margin: 0 auto;
}

.secondContent h2 {
    /*box*/
    margin: 0;
    border-bottom: solid 1px #2e6c2e;
    /*text*/
    font-size: 15px;
    font-weight: 600;
    color: #2e6c2e;
}

.teamMatchDateList,
.matchHistoryList {
    /*box*/
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 5px;
    /*text*/
    list-style-type: none;
    font-size: 15px;
}

.teamMatchDateList li,
.matchHistoryList li {
    /*box*/
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 3px;

    /*Flex*/
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.secondContent div {
    /*Flex*/
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.secondContent a {
    /*box*/
    width: 47%;
    padding: 5px;
    background-color: #2e6c2e;
    border-radius: 3px;
    box-shadow: 2px 2px 1px grey;
    /*text*/
    font-size: 17px;
    text-align: center;
    text-decoration: none;
    color: white;
}

.secondContent a:active {
    background-color: #178d17;
}

.secondContent h3 {
    /*box*/
    padding-top: 25px;
    margin: 0;
    margin-bottom: 5px;
    /*text*/
    font-size: 25px;
    font-weight: 600;
    color: #2e6c2e;
}

.secondContent p {
    /*text*/
    font-size: 14px;
    font-style: italic;
}

/*End: MatchInfo*/

/*Start: MatchHistory*/
.teamMatchDateList li,
.completeMatchHistoryList li {
    padding-bottom: 7px;
    padding-top: 7px;
}

.teamMatchDateList li:nth-child(odd),
.completeMatchHistoryList li:nth-child(odd) {
    background-color: #c4c4c4;
}

/*End: MatchHistory*/

/*Start: TeamInfo*/
.boxTeam-big {
    /*box*/
    width: 90%;
    margin: 3px auto 30px auto;
    background-color: white;
    border-radius: 15px;
    border-bottom: solid 1px grey;
    box-shadow: 2px 2px 2px grey;

    /*Flex*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.boxTeam-big > div {
    /*    box*/
    width: 120px;
    height: 80px;
    margin-bottom: 10px;

    /*Flex*/
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}

.boxTeam-big p {
    /*text*/
    font-size: 15px;
}

.teamLogo-big {
    /*box*/
    width: 130px;
    margin: 15px;
}

.W {
    background: green;
}

.L {
    background: red;
}

.D {
    background: orange;
}

.W,
.L,
.D {
    padding: 2px;
    border-radius: 5px;
    color: white;
}

/*End: TeamInfo*/

iframe {
    width: 100%;
}

/*Start Chat*/
.inputs {
    position: fixed;
    /*    bottom: 50px;*/
    bottom: 8vh;
    width: 100%;
    /*    height: 35px;*/
    height: 5vh;
    margin-top: 5px;
    /*Flex*/
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.inputs input {
    /*Flex*/
    flex-grow: 1;
}

.chat {
    /*box*/
    width: 100%;
    /*    min-height: 90vh;*/
    height: 71vh;
    /*    padding-bottom: 10px;*/
    background-color: rgba(159, 203, 156, 0.52);
    display: flex;
}

.box {
    /*
    position: fixed;
    bottom: 85px;
*/
    width: 95%;
    /*    height: 90vh;*/
    height: 68vh;
    /*    margin-left: auto;*/
    /*    margin-right: auto;*/
    margin: auto;
    /*    margin-bottom: 70px;*/
    /*    padding: 10px;*/

    overflow: scroll;
    scroll-behavior: smooth;
}

.messageDiv {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.messageBox {
    display: inline-block;
    background-color: white;
    padding: 3px 10px 1px 10px;
    border-radius: 5px;
    margin-bottom: 3px;
    box-shadow: 1px 1px 1px grey;
    max-width: 100%;
}

.messageFromUser {
    align-self: flex-end;
}

.messageFromOtherUser {
    align-self: flex-start;
}

.chatName {
    font-size: 15px;
    font-weight: bold;
    font-style: italic;
}

.chatName,
.chatMessage {
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.chatMessage {
    word-break: break-all;
}

.chatTime {
    font-size: 9px;
    font-style: italic;
    color: grey;
    margin-left: 20px;
}

.chatTime p {
    /*    width: 100%;*/
    text-align: right;
}

.chatDate {
    text-align: center;
    font-size: 13px;
    font-style: italic;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chatDate p {
    width: 25%;
}

.chatDate div {
    width: 35%;
    height: 1px;
    background-color: black;
}

/*End Chat*/

.loginPage {
    height: 80vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loginPage button {
    margin-top: 30px;
}

/*Start: Media Query*/
@media (orientation: landscape) {

    header,
    select,
    .rankingsTabs {
        position: inherit;
    }

    header,
    main {
        width: 88%;
    }

    header {
        /*    height: 60px;*/
        height: 15vh;
    }

    header h1 {
        /*text*/
        /*    line-height: 60px;*/
        line-height: 15vh;
    }

    select {
        height: 8vh;

    }

    footer {
        width: 12%;
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
    }

    .navFooter {
        min-height: 100vh;
        flex-direction: column;
    }

    .navFooter a {
        /*text*/
        font-size: 25px;
    }

    .navFooter a:active,
    .navFooter .aActive {
        /*text*/
        font-size: 40px;
    }

    .navFooter a span:first-child {
        display: none;
    }

    .navFooter a span:last-child {
        width: 100%;
    }

    .navFooter i {
        display: block;
        vertical-align: middle;
    }

    .mainContent {
        margin-bottom: 0;
    }

    .boxMatch-small {
        height: 100px;
    }

    .matchInfoLandscape {
        min-height: inherit;
        /*Flex*/
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .matchInfoLandscape > div {
        width: 50%;
        padding-bottom: 20px;
    }

    .matchInfoLandscape > .secondContent {
        display: flex;
        flex-direction: column;
    }

    .matchInfoLandscape iframe {
        width: 90%;
        margin: 10px;
        flex-grow: 1;
    }

    .boxMatch-medium {
        /*box*/
        min-height: 150px;
    }

    .teamLogo-medium {
        /*box*/
        width: 50px;
    }

    .boxMatch-medium > div > p {
        /*text*/
        font-size: 30px;
    }

    .matchInfoLandscape a {
        width: inherit;
    }

    .matchInfoLandscape h3 {
        padding-top: 0;
    }

    .teamInfoLandscape {
        min-height: inherit;
        /*Flex*/
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .teamInfoLandscape > div {
        padding-bottom: 20px;
    }

    .teamInfoLandscape > :nth-child(1) {
        order: 1;
        margin-bottom: 0;
        width: 50%;
        display: flex;
        align-content: center;
    }

    .boxTeam-big {
        margin: auto;
    }

    .boxTeam-big > div {
        width: auto;
    }

    .boxTeam-big p {
        font-size: 13px;
    }

    .teamInfoLandscape > :nth-child(2) {
        order: 3;
    }

    .teamInfoLandscape > :nth-child(3) {
        order: 2;
        width: 50%;
    }

    .teamInfoLandscape h3 {
        padding-top: 0;
    }

    .teamInfoLandscape iframe {
        width: 90%;
        margin: auto;
    }

    .inputs {
        position: fixed;
        bottom: 0;
        width: 88%;
        height: 10vh;
    }
    
    .chat{
        height: 67vh
    }
    
    .box{
        height: 62vh;
    }

}
