@charset "utf-8";

body {
    /*box*/
    height: 100vh;
    margin: 0;
    background-color: #d6d6d6;
    /*text*/
    font-family: 'Roboto', sans-serif;
}

p {
    margin: 0;
}

/*Start: Header*/
header {
    /*box*/
    position: sticky;
    top: 0;
    height: 60px;
    width: 100%;
    background-color: #009621;

    /*Flex*/
    display: flex;
    flex-direction: row;
    align-items: center;
}

header h1 {
    /*box*/
    height: 100%;
    min-width: 77%;
    width: 100%;
    margin-bottom: 0;
    /*text*/
    line-height: 60px;
    font-size: 28px;
    font-weight: 600;
    text-align: center;
    color: aliceblue;
}

.backDiv {
    /*box*/
    min-width: 18%;
    margin-left: 5%;
    padding: 8px;
    border: solid 2px black;
    border-radius: 15px;
    /*text*/
    text-decoration: none;
    font-weight: bold;
    color: black;

    /*Flex*/
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.backDiv:active {
    /*box*/
    background-color: #005c14;
    /*text*/
    text-decoration: none;
    color: white;
}

/*End: Header*/

/*Start: Navbar*/
footer {
    /*box*/
    position: sticky;
    width: 100%;
    bottom: 0;
}

.navFooter {
    /*box*/
    height: 50px;
    width: 100%;
    background-color: #009621;

    /*Flex*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
}

.navFooter a {
    /*box*/
    width: 25%;
    height: 100%;
    border: solid 1px black;
    /*text*/
    font-size: 13px;
    line-height: 50px;
    text-align: center;
    color: white;
}

.navFooter a:link {
    /*text*/
    text-decoration: none;
}

.navFooter a:visited {
    /*text*/
    color: white;
}

.navFooter a:active,
.navFooter .aActive {
    /*box*/
    background-color: #006a17;
    /*text*/
    font-size: 17px;
    font-weight: 500;
    color: white;
}

/*End: Navbar*/

/*Start: INDEX*/
select {
    /*box*/
    position: sticky;
    top: 60px;
    width: 100%;
    height: 40px;
    background-color: #d6d6d6;
    /*text*/
    font-size: 15px;
}

select option {
    /*box*/
    width: 100%;
    background-color: white;
    /*text*/
    font-size: 15px;
}

.mainContent {
    /*box*/
    min-height: 100vh;
    padding-top: 15px;

    /*Flex*/
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.boxMatchBoxes {
    /*box*/
    width: 90%;
    margin: auto;
    margin-top: 0;
    margin-bottom: 19px;
    padding-bottom: 13px;
    border-bottom: solid 1px grey;
}

.boxMatchBoxes > h2 {
    /*box*/
    margin-bottom: 8px;
    margin-left: 30px;
    /*text*/
    font-size: 13px;
    font-style: italic;
}

.boxMatchBoxes a {
    text-decoration: none;
    color: black;
}

.boxMatch-small {
    /*box*/
    width: 100%;
    min-height: 60px;
    padding: 4px;
    margin: auto;
    margin-bottom: 5px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 2px 2px 2px grey;
    /*text*/
    font-size: 12px;

    /*Flex*/
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.boxMatch-small:last-child {
    /*box*/
    border-bottom: 0;
}

.boxMatch-small:active {
    /*box*/
    width: 100%;
    min-height: 60px;
    padding: 4px;
    margin: auto;
    margin-bottom: 5px;
    background-color: rgb(0, 49, 255);
    border-radius: 10px;
    box-shadow: 2px 2px 2px grey;
    /*text*/
    color: white;
}

.boxMatch-small p {
    /*box*/
    margin-bottom: 0;
}

.boxMatch-small > p {
    /*box*/
    width: 10%;
    margin-left: 2px;
    margin-right: 2px;
    /*text*/
    text-align: center;
}

.boxTeam-small {
    /*box*/
    width: 45%;
    /*text*/
    text-align: center;

    /*Flex*/
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.boxTeam-small p {
    /*box*/
    width: 75%;
}

.teamLogo-small {
    /*box*/
    width: 25%;
}

/*End: INDEX*/

/*Start: TEAMS*/
.boxTeam-big {
    /*box*/
    width: 90%;
    height: 70px;
    margin: 3px auto 3px auto;
    background-color: white;
    border-radius: 15px;
    border-bottom: solid 1px grey;
    box-shadow: 2px 2px 2px grey;

    /*Flex*/
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

.boxTeam-big p {
    /*box*/
    margin-bottom: 0;
    /*text*/
    font-size: 18px;
}

.teamLogo-big {
    /*box*/
    width: 60px;
    margin: 15px;
}

/*End: TEAMS*/

/*Start: Rankings*/
.nav-link {
    display: block;
    padding: 0;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    /*box*/
    height: 50px;
    background-color: #006a17;
    border: solid 1px black;
    /*text*/
    line-height: 50px;
    font-size: 17px;
    font-weight: 500;
    color: white;
}

.nav-tabs .nav-link {
    /*box*/
    height: 50px;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    border: solid 1px black;
    /*text*/
    line-height: 50px;
    font-size: 13px;
    text-align: center;
    color: white;
}

.nav-tabs .nav-item {
    margin-bottom: 0;
}

.rankingsTabs {
    /*box*/
    position: sticky;
    top: 60px;
    min-height: 50px;
    background-color: #009621;

    /*Flex*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
}

.rankingsTabs li {
    /*Flex*/
    flex-grow: 1;
}

.rankingTops,
.rankingTable {
    /*box*/
    width: 90%;
    margin: auto;
    /*text*/
    font-size: 12px;
    text-align: center;
}

.rankingTops thead tr,
.rankingTable thead tr {
    /*box*/
    height: 30px;
    border-bottom: solid 1px grey;
    border-top: solid thin grey;
}

.rankingTops tbody tr,
.rankingTable tbody tr {
    /*box*/
    height: 30px;
    border-bottom: solid thin grey;
}

.rankingTable td {
    /*box*/
    width: 9%;
}

.rankingTable .tdPosition {
    /*box*/
    width: 6%;
    /*text*/
    font-weight: bold;
}

.rankingTable .tdTeamName {
    /*box*/
    width: 30%;
    /*text*/
    text-align: left;
}

.rankingTable .tdPoints {
    /*box*/
    width: 10%;
}

.rankingTops .tdGoals p,
.rankingTable .tdPoints p {
    /*box*/
    width: 85%;
    border-radius: 6px;
    background-color: grey;
    margin: auto;
    /*text*/
    color: white;
}

/*End: Rankings*/

/*Start: MatchInfo*/
.boxMatch-medium {
    /*box*/
    width: 90%;
    min-height: 180px;
    padding: 4px;
    margin: auto;
    margin-top: 0;
    margin-bottom: 10px;
    background-color: white;
    border-radius: 10px;
}

.boxMatch-medium h2 {
    /*text*/
    font-size: 15px;
    text-align: center;
}

.boxMatch-medium > div {
    /*Flex*/
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.boxMatch-medium p {
    /*box*/
    margin-bottom: 0;
}

.boxMatch-medium > p {
    /*box*/
    width: 26%;
    margin-left: 2px;
    margin-right: 2px;
    /*text*/
    font-size: 50px;
    text-align: center;
}

.boxTeam-medium {
    /*box*/
    width: 36%;
    /*text*/
    text-align: center;

    /*Flex*/
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
}

.teamLogo-medium {
    /*box*/
    width: 100px;
}

.secondContent {
    /*box*/
    width: 90%;
    margin: 0 auto;
}

.secondContent h2 {
    /*box*/
    margin: 0;
    border-bottom: solid 1px #2e6c2e;
    /*text*/
    font-size: 15px;
    font-weight: 600;
    color: #2e6c2e;
}

.secondContent ul {
    /*box*/
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 5px;
    /*text*/
    list-style-type: none;
    font-size: 15px;
}

.secondContent li {
    /*Flex*/
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.secondContent div {
    margin-bottom: 10px;
}

.secondContent a {
    /*box*/
    padding: 5px;
    margin-bottom: 10px;
    background-color: #2e6c2e;
    border-radius: 3px;
    box-shadow: 2px 2px 1px grey;
    /*text*/
    font-size: 17px;
    text-decoration: none;
    color: white;
}

.secondContent a:active {
    background-color: #178d17;
}

.secondContent h3 {
    /*box*/
    padding-top: 25px;
    margin: 0;
    margin-bottom: 5px;
    /*text*/
    font-size: 25px;
    font-weight: 600;
    color: #2e6c2e;
}

.secondContent p {
    /*text*/
    font-size: 14px;
    font-style: italic;
}

/*End: MatchInfo*/
